@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Styles.Render("~/bundles/map")
<p></p>

<div id="map"></div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jquery")

    <script>

        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: -34.397, lng: 150.644 },
                zoom: 8
            });
        }

    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_Ri3SGGnMnTtytC_HQkpz0WW4QPk1WwQ=initMap">
    </script>

}*@
