<!DOCTYPE html>
<html>
<head>
    <title>Add Map</title>

    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./index.js"></script>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_Ri3SGGnMnTtytC_HQkpz0WW4QPk1WwQk=initMap&libraries=&v=weekly"
            async></script>
</body>
</html>
