body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(../Assets/Climb1.jpg) no-repeat center center fixed;
    background-size: cover;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: #fff;
    font-variant-caps: unicase;
    font-weight: bold;
    position: absolute;
    border-radius: calc(.25rem - 1px);
}

.jumbotron{

background-color: transparent !important;
}

.box {
    /* background-color:darkgray;
    opacity:0.5;
    z-index:auto;*/
    background: slategray;
    padding: 5px;
    border: 1px solid lightgray;
    margin: 5px;
    background: rgb(136, 66, 213, 0.4)
}
.table {
    background: rgb(136, 66, 213, 0.4);
    /*background: rgb(136, 66, 213, 0.6);*/
    text-align-last: center;
}

a {
    color: midnightblue;
    text-decoration: revert;
}

p {
    z-index: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}


/*p{
    background-color: slategray;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index:auto;
}*/

/*div{
    opacity: 0.5;
}*/



