@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This app was designed to make finding amazing new places to climb easier. You can share you own favorite routes and areas and even look at where other climbers prefer! </p>
