@{
    ViewBag.Title = "Home Page";
}
<div class="card-img-overlay"></div>

<div class="jumbotron">
    <h1>Rocky Road</h1>
    <p class="lead">Rocky Road is an app created to connect climbers of all ages and experience levels to each other and find all the hidden gems of climbing around the world!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            All you have to do is register as a new climber and then you are good to dive right in!
        </p>
        <p><a class="btn btn-default" href="~/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Create Your Own</h2>
        <p>Know of any places indoor or outdoor you personally like to climb? Go ahead and share!</p>
        <p><a class="btn btn-default" href="~/Location/Create">Locations &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Favorites</h2>
        <p>You can even easily add different climbing paths to your very own favorites list!</p>
        <p><a class="btn btn-default" href="~/Favorite/Create">Favorites &raquo;</a></p>
    </div>
</div>